.CoveoFolderViewSearch {

    .toggleButton {

        background: #ccc;
        height: 50px;
        display: flex;
        width: 150px;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;

        .toggleButtonSearchIcon,
        .toggleButtonFolderIcon {
            width: 50px;

            svg {
                width: 40px;
                margin: 5px;
            }
        }

        .toggleButtonSearchLabel {
            width: 100px;
            font-size: 16px;
            line-height: 25px;
            color: white;
            font-family: Arial;
            font-weight: bold;
            text-align: center;
            background: #384c60;
        }

        .toggleButtonFolderLabel {
            width: 100px;
            font-size: 16px;
            line-height: 25px;
            color: white;
            font-family: Arial;
            font-weight: bold;
            text-align: center;
            background: #0380b3;
        }

        .toggleButtonSearchContainer,
        .toggleButtonFolderContainer {
            display: flex;
        }

        &.searchViewActive {
            .toggleButtonSearchContainer {
                margin-left: 0px;
                -webkit-transition: margin 0.2s linear;
                -moz-transition: margin 0.2s linear;
                -ms-transition: margin 0.2s linear;
                -o-transition: margin 0.2s linear;
                transition: margin 0.2s linear;
            }

        }

        &.folderViewActive {
            .toggleButtonSearchContainer {
                margin-left: -150px;
                -webkit-transition: margin 0.2s linear;
                -moz-transition: margin 0.2s linear;
                -ms-transition: margin 0.2s linear;
                -o-transition: margin 0.2s linear;
                transition: margin 0.2s linear;
            }

        }
    }

}

.folderViewHide {
    display: none !important;
}

.folderNavigatorContainer {
    .folder {
        display: inline-flex;
        width: 200px;
        height: 60px;
        border: #000000 2px solid;
        margin: 2px;
        border-radius: 7px;
        cursor: pointer;

        .folderCaption {
            margin: 8px 5px;
            word-break: break-all;
        }

        .folderIcon {
            width: 30px;
            margin: 5px;
        }
    }
}